.App {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "header header header header"
    "sidebar site-page site-page site-page"
    "footer footer footer footer";
}

nav {
  background-color: #282c34;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: rgba(139, 139, 139, 0.842);
}

nav a:active {
  color: rgb(80, 67, 255);
}

.header {
  grid-area: header;
  border: 1px solid red;
}
.sidebar {
  grid-area: sidebar;
  border: 1px solid red;
}
.page {
  grid-area: site-page;
  height: 85vh;
  border: 1px solid red;
}
.footer {
  grid-area: footer;
  border: 1px solid red;
}
